name: run example
on:
  # Allow to run manually via GitHub UI
  workflow_dispatch: {}
  # Additionally run weekly
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        path: src/little-vm-helper

    - name: Install Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version-file: "src/little-vm-helper/go.mod"

    - name: Install dependencies
      run: |
        sudo apt-get -qy update
        # we need this to build debian images
        sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 648ACFD622F3D138 0E98404D386FA1D9
        sudo apt-get -qy install mmdebstrap libguestfs-tools qemu-utils extlinux git fakeroot build-essential xz-utils libssl-dev bc flex libelf-dev bison pahole

    - name: Make kernel accessible
      run: |
        sudo chmod go+rX -R /boot/

    - name:  Run example
      env:
        LIBGUESTFS_DEBUG: 0
        LIBGUESTFS_TRACE: 0
      run: |
        cd src/little-vm-helper
        ./scripts/example.sh
