name: quay

on:
  push:
    branches:
      - "main"

jobs:
  quay:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: "go.mod"

    - uses: imjasonh/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
      env:
        KO_DOCKER_REPO: quay.io/lvh-images/lvh

    - env:
        quay_token: ${{ secrets.QUAY_ROBOT_TOKEN }}
      run: |
        echo "${quay_token}" | ko login quay.io \
          --username "lvh-images+gh" --password-stdin

        ko build --sbom=none --bare --platform=linux/amd64,linux/arm64 \
          --tags=latest,$(git describe --tag --always --dirty) ./cmd/lvh
