name: quay

on:
  push:
    branches:
      - "main"

jobs:
  quay:
    runs-on: ubuntu-22.04
    steps:
    - name: Install Go
      uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: 1.21.5

    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0

    - uses: imjasonh/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa # v0.6
      env:
        KO_DOCKER_REPO: quay.io/lvh-images/lvh

    - env:
        quay_token: ${{ secrets.QUAY_ROBOT_TOKEN }}
      run: |
        echo "${quay_token}" | ko login quay.io \
          --username "lvh-images+gh" --password-stdin

        ko build --sbom=none --bare --platform=linux/amd64 \
          --tags=latest,$(git describe --tag --always --dirty) ./cmd/lvh
